.contestant-list {
	padding-left: 0;
	list-style-type: none;
	text-decoration: none;
}
.contestant-list li {
	width: 200px;
	float: left;
	margin: 10px;
	padding: 10px 0;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.contestant-list li {
		width: 150px;
		border: none;
	}
}

.contestant-list li img {
	width: 150px;
	height: 150px;
}

.big-pic {
	max-width: 400px;
}

.eliminated {
	filter: grayscale(1);
}

.footer {
	clear: both;
	padding-top: 20px;
}
.contestant-info {
	padding-left: 0;
}

.contestant-info-item {
	list-style-type: none;	
}

.contestant-note {
	list-style-type: '▹ ';
	padding-left: 5px;
}
.contestant-link {
	text-decoration: underline;
}
